*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.shopping-cart-wrapper{
  margin-top: 15px;
  padding: 20px;
  height: 50vh;
  width: 100vw;
}

.totals{
  height: 30vh;
  width: 400px;
}

.fullwidth{
  width: 100%;
}

.totals-item{
  border: 1px solid #000;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.totals .totals-item{
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label{
  width: 79%;
  text-align: right;
}
.totals-value{
  width: 21%;
  text-align: right;
}
.totals-item-total{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.totals-item-total {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.checkout{
  border: 0;
  margin-top: 10px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;

}

.checkout:hover{
  background-color: #494;
}

